body {
    font-family: 'Helvetica', 'Arial';
}

.header {
    background: #272727;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
}

.header .nav-links {
    list-style-type: none;
    display: block;
    text-align: right;
}

.header .nav-links li {
    display: inline;
    vertical-align: middle;
}

.header .nav-links button,
.logo {
    background-color: inherit;
    color: #ffffff;
    font: normal 24px Arial;
    border-color: inherit;
    border-width: 0px;
    padding: 0;
    margin: 36px 30px;
}
.logo {
    font-family: 'Titan One', cursive;
    text-decoration: none;
    font-size: 36px;
    color: #ffffff;
    margin: 27px 48px;
}

.header-button:hover {
    text-decoration: underline;
}

.background {
    display: flex;
    margin: auto;
    height: 960px;
    background: url("landing_background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

.application-highlight {
    height: 204px;
    width: 560px;
    background-color: black;
    opacity: 50%;
    position: absolute;
    top: 409px;
    left: 172px;
}

.application-highlight h1 {
    color: white;
    font-size: 36px;
    font-weight: normal;
    margin: 0;
    padding: 55px 46px;
}

.features {
    background-color: white;
    height: 740px;
}

h2 {
    font-family: inherit;
    text-align: center;
}

@media screen and (max-width: 1330px) {
    .background{
        justify-content: space-around;
        flex-direction: column;
        /* flex-wrap: wrap; */
    }
    .application-highlight {
      position: static;
      margin-top: 140px;
      left: 0;
    }

  }